{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% for post in posts %}
    <div class="box">
        
        <div class="username">
            <img src="{{ post.author.picture.url }}" class="logo">
            <p>{{ post.author.username }}</p>
        </div>
        <img src="{{ post.image.url }}" class="img">
        <p class="p">{{ post.title }}</p>


        <div class="icons_div">
            <div class="like_div">
                {% if post.id in liked_posts %}
                    <img class="like-icon" id="like-icon-{{ post.id }}" src="{% static 'img/icons8-love-24 (1).png' %}" onclick="toggleLikeImage({{ post.id }}, {{ request.user.id }})">
                {% else %}
                    <img class="like-icon" id="like-icon-{{ post.id }}" src="{% static 'img/icons8-love-24 (2).png' %}" onclick="toggleLikeImage({{ post.id }}, {{ request.user.id }})">
                {% endif %}
                {{ post.likes.count }}
            </div>

            <a href="{% url 'review' post.id %}"><img class="like-icon" id="like-comment-{{ post.id }}" src="{% static 'img/icon_comment.png' %}"></a>
        </div>
    </div>

    {% endfor %}




{% endblock %}